.user-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 0.7fr 2.2fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "left-panel right-panel";
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #ddd;
}
.left-panel { 
  grid-area: left-panel;
  background-color: #2c3e50;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 32px;
  padding: 0.5em;
  text-align: center;
  font-weight: 400;
  line-height: 180%;
  display: flex;
  justify-content: flex-start;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  z-index: 10;
}
.right-panel { 
  grid-area: right-panel;
  overflow-y: scroll;
  background-color: #eee;
}
ul.panels {
  list-style: none;
  padding: 0;
}

ul.panels > li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
ul.panels > li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
ul.panels > li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.trash-bin {
  display: flex;
  padding: 2em;
  position: relative;
}
.trash-bin .scanner {
  width: 60%;
  padding-right: 2em;
}
.web-cam {
  max-height: 480px;
  padding-left: calc(70% - 480px);
}
.bins {
  width: 40%;
}
.bins .product-details {
  font-size: 20px;
  line-height: 32px;
}
.bin {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  font-size: 32px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #5e5e5e;
  color: #aaa;
  cursor: pointer;
}
.bin-bio {
  background-color: #64481F;
  color: white;
}
.bin-plastic {
  background-color: #FAFF00;
  color: white;
}
.bin-glass {
  background-color: #0A8300;
  color: white;
}
.bin-paper {
  background-color: #006BCD;
  color: white;
}
.bin-mix {
  background-color: #1E1E1E;
  color: white;
}
.web-cam {
  position: relative;
}
.web-cam canvas {
  position: absolute;
  top: 0;
  left: calc(70% - 480px);
}
.magazine {
  padding: 2em;
  
}

.magazine .element {
  display: flex;
  width: 50%;
  font-size: 32px;
  background-color: #cacaca;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);;
}
.magazine .element:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.3);;
}
.magazine .element .right{
  margin-right: auto;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.magazine .element .left {
  font-weight: 700;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}